.page-container{
    height: 100%;
    background: white;
}

.sidebar{
    height: 100%;
    width: 300px;
    background: linear-gradient(75deg, rgb(214,180,247), rgb(173,203,231));

}

.list-item{
    font-size:20px;
    color:white;
    padding:20px;
}