<div class="page-container">
    <div class="SidebarButton" (click)="toggleSidebar($event)">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="sidebar" [ngClass]="{'show': toggle, 'hide' :toggle}">
        <div class="list-items">
            <a routerLink="/budgetCalculator" routerLinkActive="selected" class="list-item">
                <i class="material-icons">bookmark_border</i>
                Budget Calculator
            </a>
            <a routerLink="/services" routerLinkActive="selected" class="list-item">
                <i class="material-icons">bookmark_border</i>
                Something
            </a>
            <a routerLink="/something" routerLinkActive="selected" class="list-item">
                <i class="material-icons">bookmark_border</i>
                Something
            </a>
            

        </div>
    </div>
    <div class="page-content-container">
    <router-outlet></router-outlet>
    </div>
</div>
