/* You can add global styles to this file, and also import other style files */

@import 'main-styles';
@import '../node_modules/bulma/bulma.sass';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body{
    height: 100%;
    width: 100%;
    margin:0;
    
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    background: linear-gradient(90deg, #adcbe7, #d6b4f7);
}
